.wrapper {
}
.span {
    margin-top: 25px;
    text-align: center;
    width: 100%;
}
.block {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap:5%;
    padding: 0 9% ;

}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #efefef;
    border-radius: 3%;
    margin: 25px;

}
.cardBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 250px;
}

.bookImage {
    padding: 20px;
    width: 100%;
    height:300px;
}
.title {
    text-decoration: underline;
    color: #b4b4b4;
}
.description {
    cursor: pointer;
}
.author {
    color: #b4b4b4;
}
.more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 3%;
    margin: 50px 0 50px 0;
    background: aquamarine;
    cursor: pointer;
}
.mainMore {
    display: flex;
    align-items: center;
    justify-content: center;
}